[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://hub.nuaa.cf/bkerbl/simple-knn.git

[submodule "submodules/diff-gaussian-rasterization/third_party/glm"]
	path = submodules/diff-gaussian-rasterization/third_party/glm
	url =https://hub.nuaa.cf/g-truc/glm.git

[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = https://hub.nuaa.cf/BaowenZ/RaDe-GS/tree/main/submodules/diff-gaussian-rasterization
	
[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://hub.nuaa.cf/bkerbl/simple-knn.git
[submodule "submodules/minLoRA"]
	path = submodules/minLoRA
	url = https://hub.nuaa.cf/cccntu/minLoRA
[submodule "submodules/pytorch3d"]
	path = submodules/pytorch3d
	url = https://hub.nuaa.cf/facebookresearch/pytorch3d
[submodule "submodules/CLIP"]
	path = submodules/CLIP
	url = https://hub.nuaa.cf/openai/CLIP
